{% extends 'base.html' %}
{% block content %}
<div class="container-card">
  <h2>{{ accion }} Categoría</h2>
  <form method="post">
    <div class="mb-3">
      <label class="form-label">Nombre</label>
      <input type="text" name="nombre" value="{{ categoria.Nombre if categoria else '' }}" class="form-control" required>
    </div>
    <div class="mb-3">
      <label class="form-label">Descripción</label>
      <textarea name="descripcion" class="form-control">{{ categoria.Descripcion if categoria else '' }}</textarea>
    </div>
    <button type="submit" class="btn btn-add">{{ accion }}</button>
    <a href="{{ url_for('categorias.lista') }}" class="btn btn-secondary">Cancelar</a>
  </form>
</div>
{% endblock %}